<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="render" content="webkit">
    <meta name="renderer" content="webkit">
    <title>skynet-manage</title>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/skins/skin-blue.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/font-awesome.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/ionicons.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/dataTables.bootstrap.css">
    <!-- <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/bootstrap-datepicker3.standalone.css"> -->
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/select2.min.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/AdminLTE.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/common.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="../css/atom-one-dark.css">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div id="app" class="wrapper">
    </div>
    <script type="text/javascript" src="../js/third_party/jquery.js"></script>
    <script type="text/javascript" src="../js/third_party/highlight.pack.js"></script>
    <script type="text/javascript" src="../js/third_party/jquery.extends.js"></script>
    <script type="text/javascript" src="../js/third_party/bootstrap.js"></script>
    <script type="text/javascript" src="../js/third_party/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../js/third_party/locales/bootstrap-datepicker.zh-CN.js"></script>
    <script type="text/javascript" src="../js/third_party/moment.min.js"></script>
    <script type="text/javascript" src="../js/third_party/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../js/third_party/highcharts.js"></script>
    <script type="text/javascript" src="../js/third_party/select2.full.min.js"></script>
    <script type="text/javascript" src="../js/third_party/simditor/module.js"></script>
    <script type="text/javascript" src="../js/third_party/simditor/hotkeys.js"></script>
    <script type="text/javascript" src="../js/third_party/simditor/uploader.js"></script>
    <script type="text/javascript" src="../js/third_party/simditor/simditor.js"></script>
    <script type="text/javascript" src="../js/third_party/Chart.bundle.js"></script>
    <script type="text/javascript" src="../js/third_party/app.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
