<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <div class='wrap'>
    <div class="centerField">
      <section>
        <label for="name">用户名：</label>
        <p class="inputField">
          <input id='name' type="text" maxlength=30 value=''>
        </p>
      </section>
      <section>
        <label for="password">密码：</label>
        <p class="inputField">
          <input id='password' type="password" maxlength=30 value=''>
        </p>
      </section>
      <a id="sureBtn" class="sureBtn"></a>
    </div>
    <p id='error' class='error'></p>
  </div>
  <script src="js/login.js"></script>
</body>
</html>
